<ion-view view-title='<img class="title-image title-center" src="img/selectorelogo.png" height = "42" />'>
  <ion-nav-title>
      <img class src='img/selectorelogo.png' height = "42" />
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>Selector-E is an English translation application for WIXOSS, a Japanese trading card game produced by Takara Tomy.</p>

        <p>Selector-E 2015</p>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-toggle">
        Expand all
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableCondensed" ng-change="condenser()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
