<!-- start of my home page -->

<ion-view title='<img class="title-image title-center" src="img/selectorelogo.png" height = "42" />'>
  <ion-content class="padding">
  
    <div class="row">
      <div class="col col-20">Search: </div>
      <div class="col"><input ng-model="query"></div>
    </div>
	  <div class="row">
      <div class="col col-20">Type:</div>
      <div class="col">
        <select ng-model="type">
    		<option value=''>All</option>
    		<option value=1>LRIG</option>
    		<option value=2>Arts</option>
    		<option value=3>Signi</option>
    		<option value=4>Spell</option>
    		</select>
      </div>
    
	  <div class="col">Color: </div>
      <div class="col">
        <select ng-model="color">
    		<option value=''>All</option>
    		<option value='White'>White</option>
    		<option value='Red'>Red</option>
    		<option value='Blue'>Blue</option>
    		<option value='Green'>Green</option>
    		<option value='Black'>Black</option>
    		<option value='Colorless'>Colorless</option>
    		</select>
      </div>
    </div>
    <div class="row">
      <div class="col col-20"> Set: </div>
      <div class="col"> 
    	  <select ng-model="set">
    		<option value="">All current sets</option>
    		<option value="wx01">WX01-Served Selector</option>
    		<option value="wx02">WX02-Stirred Selector</option>
    		</select>
      </div>
    </div>
    </div>

    <ion-list>
      <ion-item  class="item-toggle">
        Expand all
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="settings.enableCondensed" ng-change="condenser()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>


    <div class="list card" ng-repeat="card in cards | filter:query | filter:set | filter:{type: type} | filter:{color: color}">
      <div class="item item-divider carddivider {{card.color}}" ng-click="toggleGroup(card)" ng-class="{active: isGroupShown(card)}">{{card.set}} - {{card.number}} | <strong>{{card.name}}</strong><br/><span class="newline"> | {{card.jName}}</span></div>
      <div class="item item-body item-accordion cardsingle {{card.color}}" ng-show="isGroupShown(card)">
        <div >{{card.stat}}<br/>
        </div>
          {{card.cardText}}
          <br/>
          <label class="checkbox checkbox-balanced">
          <input type="checkbox" ng-click="setCard(card.id, card.favorite)"></label>
          <span class="favorite">Favorite</span>

      </div>
    </div>
    
  </ion-content>
</ion-view>
