<ion-view view-title='<img class="title-image title-center" src="img/selectorelogo.png" height = "42" />'>
  <ion-nav-title>
      <img class src='img/selectorelogo.png' height = "42" />
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Selector-E is an English translation application for WIXOSS, a Japanese trading card game produced by Takara Tomy.
        <br/>
        <p>Selector-E &copy; 2015</p>
      </div>
    </div>
  </ion-content>
</ion-view>
