<ion-view title='<img class="title-image title-center" src="img/selectorelogo.png" height = "42" />'>
  <ion-content class="padding">
  <!-- start of my cards -->
      

    <ion-list ng-show="filtered.length">
      <ion-item  class="item-toggle">
        Expand all
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableCondensed" ng-change="condenser()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>


    <div class="list card" ng-repeat="card in cards | filter:{favorite: favorite} as filtered">
      

      <div class="item item-divider carddivider {{card.color}}" ng-click="toggleGroup(card)" ng-class="{active: isGroupShown(card)}" >{{card.set}} - {{card.number}} | <strong>{{card.name}}</strong><br/><span class="newline"> | {{card.jName}}</span></div>
      <div class="item item-body item-accordion cardsingle {{card.color}}" ng-show="isGroupShown(card)">
        <div >{{card.stat}}<br/>
        </div>
          {{card.cardText}}
          <br/>
        <label class="checkbox checkbox-energized">
        <input type="checkbox" ng-click="setCard(card.id, card.favorite)"></label>
        <span class="favorite">Favorite</span>
      </div>

    </div>
    <div class="card" ng-hide="filtered.length">
      <div class="item item-text-wrap">
        <span>You have no cards favorited. Pick some you like!</span>
      </div>
    </div>
    
  </ion-content>
</ion-view>
