<ion-view title='<img class="title-image title-center" src="img/selectorelogo.png" height = "42" />'>
<!--   <ion-nav-title>
      <img class src='img/selectorelogo.png' height = "42" />
  </ion-nav-title> -->
  <ion-content class="padding">
  <!-- start of my cards -->
      

    <ion-list>
      <ion-item  class="item-toggle">
        Expand all
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableCondensed" ng-change="condenser()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>


    <div class="list card" ng-repeat="card in cards" ng-show="card.favorite == 1">
      <div class="item item-divider carddivider {{card.color}}" ng-click="toggleGroup(card)" ng-class="{active: isGroupShown(card)}" >{{card.set}} - {{card.number}} | <strong>{{card.name}}</strong><br/><span class="newline"> | {{card.jName}}</span></div>
      <div class="item item-body item-accordion cardsingle {{card.color}}" ng-show="isGroupShown(card)">
        <div >{{card.stat}}<br/>
        </div>
          {{card.cardText}}
          <br/>
          Is favorite: {{card.favorite}}
          <div ng-show="card.favorite == 1">STAR</div>
        
        <button ng-click="setCard(card.id, card.favorite)" >Favorite</button>
      </div>
    </div>
    
  </ion-content>
</ion-view>
