<!-- tabs structure for ionic-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">


  <!-- Database Tab -->
  <ion-tab title="Database" icon-off="ion-android-book" icon-on="ion-android-book" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon-off="ion-android-star" icon-on="ion-android-star" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Links Tab -->
  <ion-tab title="Links" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/links">
    <ion-nav-view name="tab-links"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-help-circled" icon-on="ion-help-circled" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
